.login-container {
  width: 6.2rem;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.3rem;
  padding-top: 0.74rem;
  h2 {
    font-size: .45rem;
    color: #1c1c1c;
    .hos-port{
      color:$bg
    }
  }
}

.login-box {
  margin-top: 0.5rem;
}

.tab-switch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #787878;
  margin-bottom: 0.2rem;
  border-bottom: 0.01rem solid #E7EAF1;
  span {
    width: 50%;
    padding: .3rem 0;
    border-bottom: 0.06rem solid #fff;
    &.active {
      color: $bg;
      font-weight: 600;
      border-bottom: 0.06rem solid $bg;
    }
  }
}

// .switch-list {}
.switch-list_item {
  .input-box {
    margin-top: 0.14rem;
    padding: 0.32rem 0;
    border-bottom: 0.01rem solid #e7eaf1;
    display: flex;
    justify-content: space-around;
    input {
      flex: 1;
      font-size: 0.3rem;
      line-height: 0.42rem;
    }
    span {
      display: block;
      // width: 2rem;
      text-align: right;
      color: #787878;
      &.reget {
        color: $bg;
      }
    }
    .see-icon {
      width: 0.35rem;
      height: 0.22rem;
      background-image: url(../../../static/images/pwd-show.png);
      background-size: cover;
      background-repeat: no-repeat;
      align-self: center;
      &.hidden {
        background-image: url(../../../static/images/pwd-hidden.png);
        align-self: flex-end;
      }
    }
  }
}

.confirm-button {
  margin-top: 1rem;
  width: 100%;
  height: 0.9rem;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.9rem;
  border-radius: 0.1rem;
  color: #fff;
  background-color: $bg;
}

.confirm-button[disabled=disabled] {
  background-color: #A9E3D5;
}

.forgetPwd {
  margin-top: 0.4rem;
  display: flex;
  justify-content: flex-end;
  a {
    font-size: 0.28rem;
    color: #787878;
  }
}

.toRegister {
  width: 100%;
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    // display: block;
    font-size: 0.3rem;
    color:$bg;
  }
  span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
  }
}

.code-login{
  height: 14px;
}
