@import "./details";

textarea{
  border: none;
  outline: medium;
  font-size: 0.3rem;
  color: #1c1c1c;
  font-family: 'Microsoft Yahei';
  width: 100%;
  height: 50%;
  resize: none;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5rem 0.4rem 0;
  line-height: 0.5rem;
}
.save{
  background: #00BD93!important;
}
